<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-4">
    <div class="text-end mb-2">
      <app-language-switcher></app-language-switcher>
    </div>
    <div class="card">
      <div class="card-header text-center">
        <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <app-input-field id="email" label="LOGIN.EMAIL" formControlName="email" title="LOGIN.EMAIL"
              [control]="loginForm.get('email')" [submitted]="submitted()" />
          </div>
          <div class="mb-3">
            <app-input-field id="password" type="password" label="LOGIN.PASSWORD" formControlName="password"
              title="LOGIN.PASSWORD" [control]="loginForm.get('password')" [submitted]="submitted()" />
          </div>
          <div class="mb-3">
            <app-input-field id="remember" inputClass="form-check-input" type="checkbox" label="LOGIN.REMEMBER"
              formControlName="remember" title="LOGIN.REMEMBER" [control]="loginForm.get('remember')"
              [submitted]="submitted()" />
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="loading || loginForm.invalid">
              <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
              {{ 'LOGIN.SUBMIT' | translate }}
            </button>
          </div>
          <div *ngIf="errorMessage" class="mt-3 alert alert-danger">
            {{ errorMessage }}
          </div>

        </form>
      </div>
      <div class="card-footer text-center">
        <p class="mb-0">
          {{ 'LOGIN.NO_ACCOUNT' | translate }}
          <a routerLink="/signup">{{ 'LOGIN.SIGNUP' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>