.ag-viewport {
  background-color: white !important;
}

.ag-header-cell-text {
  color: rgb(3, 50, 54) !important;
}

.ag-header,
.ag-pinned-right-header,
.ag-row,
.table-grid,
.ag-root-wrapper {
  border-color: rgba(10, 166, 181, 1) !important;
  border-radius: 0 !important;
}

.actions-cell-left {
  border-left-color: rgba(10, 166, 181, 1) !important;
}

.actions-cell-right {
  border-right-color: rgba(10, 166, 181, 1) !important;
}
