@forward 'mat-style.scss';

/* You can add global styles to this file, and also import other style files */
.ng-invalid.ng-touched {
    border-color: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    display: block;
}

.form-text {
    font-size: 0.875em;
    color: #6c757d;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
    --bs-btn-bg: green !important;
    --bs-btn-border-color: blue !important;
    --bs-btn-hover-bg: rgb(238, 7, 7) !important;
    --bs-btn-hover-border-color: blue !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: rgb(238, 7, 7) !important;
    border-color: blue !important;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: green !important;
    border-color: blue !important;
}

.btn-outline-primary {
    --bs-btn-color: green !important;
    --bs-btn-border-color: green !important;
    --bs-btn-hover-bg: blue !important;
    --bs-btn-hover-border-color: blue !important;
}

.card-header {
    background-color: white !important;
}

.form-check-input:focus {
    background-color: rgb(238, 7, 7) !important;
    border-color: blue !important;
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, 0.25) !important;
}

.form-check-input:checked {
    background-color: green !important;
    border-color: blue !important;
}