<app-nav></app-nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h2>{{ 'SPACESHIP_FORM.TITLE' | translate }}</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="spaceshipForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <app-select-field id="name" label="SPACESHIP_FORM.NAME" formControlName="name" title="SPACESHIP_FORM.NAME"
                [options]="avaliableShips" [formGroup]="spaceshipForm" [control]="spaceshipForm.get('name')"
                [submitted]="submitted()" />
            </div>

            <div class="mb-3">
              <app-input-field id="nickname" label="SPACESHIP_FORM.NICKNAME" formControlName="nickname"
                [control]="spaceshipForm.get('nickname')" [submitted]="submitted()" />
            </div>

            <div class="mb-3">
              <app-input-field id="quantity" label="SPACESHIP_FORM.QUANTITY" type="number" formControlName="quantity"
                title="SPACESHIP_FORM.QUANTITY" [control]="spaceshipForm.get('quantity')" [submitted]="submitted()" />
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" [disabled]="loading || spaceshipForm.invalid">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                {{ 'SPACESHIP_FORM.SUBMIT' | translate }}
              </button>
            </div>
            <div *ngIf="errorMessage" class="mt-3 alert alert-danger">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>