<div class="container">

  <app-client-table id="USER_VIEW" [loading]="loading" [errorMessage]="errorMessage" [list]="users"
    [columnsProperties]="columnsUser" labelNoRecords="USER_LIST.NO_USERS" [forceActions]="true"
    [customActionContent]="customActionContent">
  </app-client-table>

  <ng-template #customActionContent let-row>
    <button class="btn btn-sm btn-danger" *ngIf="row.authorized" (click)="allowUser(false, row.id)">
      {{ 'USER_LIST.UNAUTHORIZE' | translate}}
    </button>
    <button class="btn btn-sm btn-success" *ngIf="!row.authorized" (click)="allowUser(true, row.id)">
      {{ 'USER_LIST.AUTHORIZE' | translate}}
    </button>
    <button class="ms-3 btn btn-sm btn-danger" (click)="deleteUser(row.id)">
      {{ 'COMMON.DELETE' | translate }}
    </button>
  </ng-template>

</div>