<div class="container">

  <div *ngIf="loading" class="text-center my-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">{{ 'COMMON.LOADING' | translate }}</span>
    </div>
  </div>

  <app-client-table id="USER_VIEW" [loading]="loading" [errorMessage]="errorMessage" [list]="users"
    [columnsProperties]="columnsUser" labelNoRecords="SPACESHIP_LIST.NO_SPACESHIPS" [forceActions]="true"
    [customActionContent]="customActionContent">
  </app-client-table>

  <ng-template #customActionContent let-row>
    <button class="btn btn-sm btn-danger" *ngIf="row.authorized" (click)="allowUser(false, row.id)">
      {{ 'USER_LIST.UNAUTHORIZE' | translate}}
    </button>
    <button class="btn btn-sm btn-success" *ngIf="!row.authorized" (click)="allowUser(true, row.id)">
      {{ 'USER_LIST.AUTHORIZE' | translate}}
    </button>
    <button class="ms-3 btn btn-sm btn-danger" (click)="deleteUser(row.id)">
      {{ 'COMMON.DELETE' | translate }}
    </button>
  </ng-template>

  <!--
  <div *ngIf="!loading && users.length > 0" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{ 'USER_LIST.NICKNAME' | translate }}</th>
          <th>{{ 'USER_LIST.EMAIL' | translate }}</th>
          <th>{{ 'USER_LIST.AUTHORIZED' | translate }}</th>
          <th class="text-end">{{ 'USER_LIST.ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.nickname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span *ngIf="user.authorized" class="text-success">
              {{ 'USER_LIST.AUTHORIZED' | translate}}
            </span>
            <span *ngIf="!user.authorized" class="text-danger">
              {{ 'USER_LIST.UNAUTHORIZED' | translate}}
            </span>

          </td>
          <td class="text-end">
            

          </td>
        </tr>
      </tbody>
    </table>
    -->
</div>