<app-nav></app-nav>

<div class="container">

  <div *ngIf="loading" class="text-center my-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">{{ 'COMMON.LOADING' | translate }}</span>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && users.length === 0" class="alert alert-info">
    {{ 'USER_LIST.NO_USERS' | translate }}
  </div>

  <div *ngIf="!loading && users.length > 0" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{ 'USER_LIST.NICKNAME' | translate }}</th>
          <th>{{ 'USER_LIST.EMAIL' | translate }}</th>
          <th>{{ 'USER_LIST.AUTHORIZED' | translate }}</th>
          <th class="text-end">{{ 'USER_LIST.ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.nickname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span *ngIf="user.authorized" class="text-success">
              {{ 'USER_LIST.AUTHORIZED' | translate}}
            </span>
            <span *ngIf="!user.authorized" class="text-danger">
              {{ 'USER_LIST.UNAUTHORIZED' | translate}}
            </span>

          </td>
          <td class="text-end">
            <button class="btn btn-sm btn-danger" *ngIf="user.authorized" (click)="allowUser(false, user.id)">
              {{ 'USER_LIST.UNAUTHORIZE' | translate}}
            </button>
            <button class="btn btn-sm btn-success" *ngIf="!user.authorized" (click)="allowUser(true, user.id)">
              {{ 'USER_LIST.AUTHORIZE' | translate}}
            </button>
            <button class="ms-3 btn btn-sm btn-danger" (click)="deleteUser(user.id)">
              {{ 'COMMON.DELETE' | translate }}
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>